@mixin generate-spaces-bottom {
  &--1line{  margin-bottom:1em;}
  &--2lines{ margin-bottom:2em;}
  &--3lines{ margin-bottom:3em;}
  &--4lines{ margin-bottom:4em;}
  &--5lines{ margin-bottom:5em;}
  &--6lines{ margin-bottom:6em;}
  &--7lines{ margin-bottom:7em;}
  &--8lines{ margin-bottom:8em;}
  &--9lines{ margin-bottom:9em;}
  &--10lines{ margin-bottom:10em;}
}

@mixin generate-spaces-top {
  &--1line{  margin-top:1em;}
  &--2lines{ margin-top:2em;}
  &--3lines{ margin-top:3em;}
  &--4lines{ margin-top:4em;}
  &--5lines{ margin-top:5em;}
  &--6lines{ margin-top:6em;}
  &--7lines{ margin-top:7em;}
  &--8lines{ margin-top:8em;}
  &--9lines{ margin-top:9em;}
  &--10lines{ margin-top:10em;}
}

@mixin generate-spaces-bottom-inside {
  &--1line{  padding-bottom:1em;}
  &--2lines{ padding-bottom:2em;}
  &--3lines{ padding-bottom:3em;}
  &--4lines{ padding-bottom:4em;}
  &--5lines{ padding-bottom:5em;}
  &--6lines{ padding-bottom:6em;}
  &--7lines{ padding-bottom:7em;}
  &--8lines{ padding-bottom:8em;}
  &--9lines{ padding-bottom:9em;}
  &--10lines{ padding-bottom:10em;}
}

@mixin generate-spaces-top-inside {
  &--1line{  padding-top:1em;}
  &--2lines{ padding-top:2em;}
  &--3lines{ padding-top:3em;}
  &--4lines{ padding-top:4em;}
  &--5lines{ padding-top:5em;}
  &--6lines{ padding-top:6em;}
  &--7lines{ padding-top:7em;}
  &--8lines{ padding-top:8em;}
  &--9lines{ padding-top:9em;}
  &--10lines{ padding-top:10em;}
}

.spacing{
  &-vertical{
    &--grid-gutter{
      margin-top:15px;
      margin-bottom: 15px;
    }
    
    @include generate-spaces-top;
    @include generate-spaces-bottom;
    
    &-inside{
      @include generate-spaces-bottom-inside
      @include generate-spaces-top-inside
    }
   
  }
  
  &-bottom{
     @include generate-spaces-bottom;
     
    &-inside{
      @include generate-spaces-bottom-inside
    }
  }
      
  &-top{
    @include generate-spaces-top;
    
    &-inside{
      @include generate-spaces-top-inside
    }
  }
}

.spacing--min-height{
  &-10vh{min-height: 10vh}
  &-20vh{min-height: 20vh}
  &-30vh{min-height: 30vh}
  &-40vh{min-height: 40vh}
  &-50vh{min-height: 50vh}
  &-60vh{min-height: 60vh}
  &-70vh{min-height: 70vh}
  &-80vh{min-height: 80vh}
  &-90vh{min-height: 90vh}
  &-100vh{min-height: 100vh}
}