.spacing{
  &-vertical{
    &--grid-gutter{
      margin-top:15px;
      margin-bottom: 15px;
    }
    
    &--1line{  margin-top:1em; margin-bottom: 1em;}
    &--2lines{ margin-top:2em; margin-bottom: 2em;}
    &--3lines{ margin-top:3em; margin-bottom: 3em;}
    &--4lines{ margin-top:4em; margin-bottom: 4em;}
    &--5lines{ margin-top:5em; margin-bottom: 5em;}
    &--6lines{ margin-top:6em; margin-bottom: 6em;}
    &--7lines{ margin-top:7em; margin-bottom: 7em;}
    &--8lines{ margin-top:8em; margin-bottom: 8em;}
    &--9lines{ margin-top:9em; margin-bottom: 9em;}
    &--10lines{ margin-top:10em; margin-bottom: 10em;}
  }
}