<h1>INDEX PAGE</h1>
{{#c-video classNames="c-video--fullpage"}}
  {{ember-youtube
    ytid="V2VkGY-DMKE"
    playerVars=youtubeIntroPlayerVars
    showDebug=false
    showControls=false
    showProgress=false
  }}
{{/c-video}}