{{#l-default}}

  {{#c-section 
      classNames="c-section--text-center c-section--background-cover c-section--background-center-top"
      backgroundimage="img_portrait_xploreparadise_christoph_taenzer.jpg"
      isInProgress=true
      isConstrained=false
  }}
    <div class="container spacing-vertical--8lines">
      <p class="c-typography--italic">{{model.about.p2}}</p>
    </div>
  {{/c-section}}

{{/l-default}}