{{#l-default}}

  {{#c-section classNames="c-section--text-center" isConstrained=true isInProgress=true}}
    
    {{c-text-blocks text=model.textContent.equipment.text}}
    
    {{#slick-carousel
      class="ember-carousel"
      autoplay=true
      autoplaySpeed=3000
      slidesToScroll=1
      dots=false
      fade=false
      mobileFirst=true
      responsive=model.equipmentSlider.sliderSettings.responsiveSettings
      
    }}
      {{#each model.equipmentSlider.sliderItems as |item|}}
        <div>{{c-image src=item.src alt=item.alt}}</div>
      {{/each}}
    {{/slick-carousel}}
  {{/c-section}}

{{/l-default}}
