{{#each quotationTexts as |text|}}
<p class="c-quotation__paragraph">{{text}}</p>
{{/each}}
<p class="c-quotation__author">{{author}} <span class="c-quotation__author-description">{{authorDescription}}</span></p>
{{yield}}
