$color-bright:      #FFFFFF;
$color-grey:        #666666;
$color-grey-dark:   #333333;
$color-dark:        #050100;
$color-soil:        #86460a;
$color-sand:        #dca83f;
$color-sand-bright: #f2c157;
$color-notification-success: #336633; 
$color-notification-error:   #993333;
