$c-animated-item-color: $color-sand;

@keyframes fadeIn {
    0%    {opacity: 0;}
    11.1% {opacity: 1;}
    99.9% {opacity: 1;}
    100%  {opacity: 0;}
}

.c-animated-map{
  position: relative;
  
  &__map{
    
  }
  
  &__path{
    position: absolute;
    top:14%;
    left:39%;
    width:23%;
    height: auto;
  }
  
  &__route{
    fill:none;
    stroke: $c-animated-item-color;
    stroke-width: 2px;
    opacity: 0

    &--1{stroke-dasharray: 6.67 4.67;}
    &--2{stroke-dasharray: 6.4 4.4;}
    &--3{stroke-dasharray: 6.29 4.29;}
    &--4{stroke-dasharray: 6.05 4.05;}
    &--5{stroke-dasharray: 5.87 3.87}
    &--6{stroke-dasharray: 6.14 4.14;}
    &--7{/*no definition*/}
      
    &--1, &--2, &--3{  animation: fadeIn 9s 1s infinite; }
    &--4{  animation: fadeIn 9s 3s infinite; }
    &--5{  animation: fadeIn 9s 5s infinite; }
  }
  
  &__waypoint{
    stroke: $c-animated-item-color;
    stroke-miterlimit: 10;
    opacity: 0;
    
    &--outer{
      stroke-width: 1px;
    }
    
    &--inner{
      fill: $c-animated-item-color;
      stroke:none;
    }

    &--1{  animation: fadeIn 9s 0s infinite; }
    &--2{  animation: fadeIn 9s 2s infinite; }
    &--3{  animation: fadeIn 9s 4s infinite; }
    &--4{  animation: fadeIn 9s 6s infinite; }
    &--5{  animation: fadeIn 9s 8s infinite; }
    

    
  }
}