$c-animated-item-color: $color-sand;

.c-animated-map{
  position: relative;
  
  &__map{
    
  }
  
  &__path{
    position: absolute;
    top:14%;
    left:39%;
    width:23%;
    height: auto;
  }
  
  &__route{
    fill:none;
    stroke: $c-animated-item-color;
    stroke-width: 2px;
    opacity: 0;

    stroke-dasharray: 6.35 4.35;
    
    /*&--1{ stroke-dasharray: 6.67 4.67; }
    &--2{ stroke-dasharray: 6.40 4.40; }
    &--3{ stroke-dasharray: 6.29 4.29; }
    &--4{ stroke-dasharray: 6.05 4.05; }*/
  }
  
  &__waypoint{
    stroke: $c-animated-item-color;
    stroke-miterlimit: 10;
    opacity: 0;
    
    &--outer{
      stroke-width: 1px;
    }
    
    &--inner{
      fill: $c-animated-item-color;
      stroke:none;
    }
  }
}

/*******************************************************************
/ MAP CSS3 ANIMATIONS
/*******************************************************************/

@keyframes fadeIn {
    0%    {opacity: 0;}
    25%   {opacity: 1;}
    75%   {opacity: 1;}
    100%  {opacity: 0;}
}

.c-animated-map{

  &__waypoint--1{ animation: fadeIn 1s 0s normal infinite; }
  &__route--1{    animation: fadeIn 1s 0s normal infinite; }
  &__waypoint--2{ animation: fadeIn 1s 0s normal infinite; }
  &__route--2{    animation: fadeIn 1s 0s normal infinite; }
  &__waypoint--3{ animation: fadeIn 1s 0s normal infinite; }
  &__route--3{    animation: fadeIn 1s 0s normal infinite; }
  &__waypoint--4{ animation: fadeIn 1s 0s normal infinite; }
  &__route--4{    animation: fadeIn 1s 0s normal infinite; }
  &__waypoint--5{ animation: fadeIn 1s 0s normal infinite; }

}