/* FONT STACK */

$font-primary: 'Raleway', sans-serif;
$font-headings: 'Oswald', sans-serif;

/* DEFAULT DEFINITIONS */

html,
body{
  font-size: 17px;
  line-height: 1.29;
  font-family: $font-primary;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

a{
  color:$color-sand;
  
  &:hover{
    color:$color-soil;
    text-decoration: none;
  }
  
  &:focus{
    outline: none;
    text-decoration: none;
  }
}

h1, h2, h3, h4, h5, h6{
  font-family: $font-headings ;
  font-weight:400;
  
  &.font--primary{
    font-family: $font-primary;
    font-weight: 500;
  }
}

h1{
  text-transform: uppercase;
  font-size: 2.5rem;
  
  @media #{$media-sm-up} {
    font-size: 5rem;  
  }
}

h2{
  text-transform: uppercase;
  font-size: 2rem;
  
  @media #{$media-sm-up} {
    font-size: 3rem;  
  }
}

h3{
  font-size:1.25rem;
  font-weight: 300;
  
  @media #{$media-sm-up} {
    font-size: 2rem;  
  }
}

h4{
  font-size: 1.1rem;
  
  @media #{$media-sm-up} {
    font-size: 2rem;  
  }
}

.typography{
  &--smallest{ 
    font-size:0.5em; 
    font-size:0.5em;
  }
  &--smaller{
    font-size:0.75em;
  }
  &--big{
    font-size: 1.25em;
    @media #{$media-sm-up} {
      font-size:1.5em;
    }
  }
  &--bigger{
    font-size:1.33em;
    @media #{$media-sm-up} {
      font-size:1.75em;
    }
  }
  &--extrabig{
    font-size:1.5em;
    @media #{$media-sm-up} {
      font-size:2em;
    }
  }
  &--huge{
    font-size:2em;
    @media #{$media-sm-up} {
      font-size:3em;
    }
  }
}

/* STYLES */
h1,h2,h3,h4,*{
  &.c-typography{
    &--italic{font-style: italic;}
    &--uppercase{text-transform: uppercase};
    &--lowercase{text-transform: lowercase};
  }
}