<h2 class="c-typography--lowercase font--primary">
  <span class="visible-xs">xploreparadise.com</span>
  <span class="hidden-xs">www.xploreparadise.com</span>
</h2>
<h4 class="c-typography--uppercase font--primary">info@xploreparadise.com</h4>
<a 
  href="https://www.facebook.com/xploreparadise" 
  title="Xploreparadise at facebook"
  target="_blank"
>
    {{c-image src="ico_fb.png" classNames="c-social-media-connections__icon" alt="Xploreparadise at facebook" is4x=true}}
</a>
<a 
  href="https://www.instagram.com/xploreparadise" 
  title="Xploreparadise at instagram"
  target="_blank"
>
    {{c-image src="ico_ig.png" classNames="c-social-media-connections__icon" alt="Xploreparadise at instagram" is4x=true}}
</a>
{{yield}}
