<h2 class="c-typography--lowercase font--primary">
  <span class="visible-xs">xploreparadise.com</span>
  <span class="hidden-xs">www.xploreparadise.com</span>
</h2>
<h4 class="c-typography--uppercase font--primary">info@xploreparadise.com</h4>
<a 
  href="https://www.facebook.com/xploreparadise" 
  title="Xploreparadise at facebook"
  target="_blank"
>
  <svg class="c-social-media-connections__icon" data-name="Capa 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
    <defs><style>.cls-1{fill:#fff;}</style></defs>
    <title>ico_facebook</title>
    <path 
      class="cls-1" d="M256,2C114.8,2,0,116.8,0,258S114.8,514,256,514,512,399.2,512,258,397.2,2,256,2Zm0,482.7C131,484.7,29.3,383,29.3,258S131,31.3,256,31.3,482.7,133,482.7,258,381,484.7,256,484.7Z" transform="translate(0 -2)"/>
    <path 
      class="cls-1" 
      d="M265.8,403.8V256h48.8l7.7-49H265.8V182.4c0-12.8,4.2-25,22.5-25H325V108.5H273c-43.8,0-55.7,28.8-55.7,68.7V207h-30v49h30V403.8Z" 
      transform="translate(0 -2)"/>
  </svg>
</a>
<a 
  href="https://www.instagram.com/xploreparadise" 
  title="Xploreparadise at instagram"
  target="_blank"
>
  <svg class="c-social-media-connections__icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 314.652 314.652" style="enable-background:new 0 0 314.652 314.652;" xml:space="preserve">
    <g>
      <path d="M157.326,0C70.576,0,0,70.576,0,157.326s70.576,157.326,157.326,157.326s157.326-70.576,157.326-157.326   S244.076,0,157.326,0z M157.326,296.652C80.502,296.652,18,234.15,18,157.326S80.502,18,157.326,18s139.326,62.502,139.326,139.326   S234.15,296.652,157.326,296.652z" fill="#FFFFFF"/>
      <path d="M214.618,80.326H100.034c-10.477,0-19,8.523-19,19v116c0,10.477,8.523,19,19,19h114.584c10.477,0,19-8.523,19-19v-116   C233.618,88.85,225.095,80.326,214.618,80.326z M215.618,215.326c0,0.552-0.448,1-1,1H100.034c-0.552,0-1-0.448-1-1v-116   c0-0.552,0.448-1,1-1h114.584c0.552,0,1,0.448,1,1V215.326z" fill="#FFFFFF"/>
      <rect x="183.583" y="111.812" width="20.615" height="18.911" fill="#FFFFFF"/>
      <circle cx="157.326" cy="164.946" r="20.324" fill="#FFFFFF"/>
      <path d="M189.745,164.856c0,17.904-14.514,32.418-32.418,32.418s-32.418-14.514-32.418-32.418l0.044-14.445h-14.497v53.761h93.743   v-53.761H189.82L189.745,164.856z" fill="#FFFFFF"/>
    </g>
  </svg>
</a>
{{yield}}
