<div class="c-video-teaser__background">
  <div class="c-video-teaser__text">
    <h3 class="c-video-teaser__title">{{title}}</h3>
    <h4 class="c-video-teaser__subtitle">{{subtitle}}</h4>
    {{yield}}
  </div>
</div>
