{{c-image src="img_xploreparadise_logo.png" alt="Xploreparadise" is2x=true}}
<h2 class="spacing-bottom--1line">{{model.thanks.h2}}</h2>
<div class="c-special-thanks__paragraph col-lg-10 col-lg-offset-1"><p>{{{model.thanks.p1}}}</p></div>