{{c-image src="img_xploreparadise_logo.png" alt="Xploreparadise" is2x=true}}
<h2 class="spacing-bottom--1line">{{model.textContent.thanks.h2}}</h2>
<div class="c-special-thanks__paragraph col-lg-10 col-lg-offset-1">
  {{c-text-blocks isHTML=true text=model.textContent.thanks.text}}
</div>