$c-contact-form-element-width: 100%;
$c-contact-form-element-height: 3.5em;
$c-contact-form-element-spacing-bottom: 1em;
$c-contact-form-element-spacing-inside: 1em;
$c-contact-form-element-border: none;
$c-contact-form-textarea-height: (3*$c-contact-form-element-height) + (2*$c-contact-form-element-spacing-bottom);


.c-contact-form{
  
  font-family: $font-headings;
  font-weight: normal;
  color:$color-grey;
  
  &__input-text,
  &__input-textarea{
    background: $color-bright;
    width: $c-contact-form-element-width;
    height: $c-contact-form-element-height;
    margin-bottom: $c-contact-form-element-spacing-bottom;
    padding: $c-contact-form-element-spacing-inside;
    border: $c-contact-form-element-border;
  }

  &__input-textarea{
    height: $c-contact-form-textarea-height;
  }
  &__submit{
    background: $color-sand;
    color:$color-dark;
    border:none;
    width: $c-contact-form-element-width;
    height: $c-contact-form-element-height;
    padding: $c-contact-form-element-spacing-inside;
    margin-bottom: $c-contact-form-element-spacing-bottom;
        
    &:hover{
      background: $color-soil;
      color:$color-sand;
    }
  }
  
  &__feedback{
    
  }
  &__message{
    padding: $c-contact-form-element-spacing-inside;
    border: 2px solid;
    text-align: center;
  }
  
  &__message--success{
    border-color: $color-notification-success;
    color: $color-notification-success;
  }
  &__message--error{
    border-color: $color-notification-error;
    color: $color-notification-error;
        
  }
}