.c-image{
  &__img{
    max-width: 100%
  }
}

.c-image--2x{
  .c-image__img{
    -webkit-transform: scale(0.5); /* Saf3.1+, Chrome */
       -moz-transform: scale(0.5); /* FF3.5+ */
        -ms-transform: scale(0.5); /* IE9 */
         -o-transform: scale(0.5); /* Opera 10.5+ */
            transform: scale(0.5);
  }
}