.c-section{
}

.c-section--text-center{
  text-align: center;
}

.c-section--in-progress{
  margin-top: 2em;
  margin-bottom: 2em;
  padding-top: 2em;
  padding-bottom: 2em;
  border: 1px dashed $color-bright;
}

//Background settings
.c-section[style]{
  background-repeat: no-repeat;
}

.c-section--background-contain{
  background-size: contain;
}

.c-section--background-cover{
  background-size: cover;
}

.c-section--background-right-top{
  background-position: right top;
}

.c-section--background-center-top{
  background-position: center top;
}

.c-section--background-center-bottom{
  background-position: center bottom;
}
